<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			<div id = "navigation">
				<a href = "/">
					<input type = "submit" class = "wide" value = "&lArr; Main page">
				</a>
			</div>
			<% if(messages.error){ %>
				<div class = "message error">
					<%= messages.error %>
				</div>
			<% } %>
			<% if(messages.msg){ %>
				<div class = "message success">
					<%= messages.msg %>
				</div>
			<% } %>
			<div class = "center">
				<form action = "#" method = "POST">
					<input type = "date" name = "date" value = "<%= today %>" style = "margin-bottom:7px;">
					<div>
						<label class="radiobutton small">
							<input type="radio" name="pass" value="day" checked><span class = "blueish">Dag</span>
						</label>
						<label class="radiobutton small">
							<input type="radio" name="pass" value="middle"><span class = "yellow">Mellan</span>
						</label>
						<label class="radiobutton small">
							<input type="radio" name="pass" value="night"><span class = "orange">Kväll</span>
						</label>
					</div>
					<div>
						<% lager.forEach(function(lagerObj){ %>
							<label class="radiobutton small">
								<input type="radio" name="lager" value="<%= lagerObj.id %>"><span class = "yellow"><%= lagerObj.name %></span>
							</label>
						<% }); %>
					</div>
					<input type = "submit" value = "Add workday">
				</form>
			</div>
			
			<div id = "worklist">
				<% workshifts.forEach(function(shift){ %>
					<div>
						<form class = "nomargin" action = "/removework" method = "POST">
							<input type = "hidden" name = "removeid" value = "<%= shift.id %>">
							<input type = "submit" class = "button round small red" value = "&#10005;">
							<%= shift.date %> <%= shift.start %> - <%= shift.end %> (<%= shift.lager %>)
						</form>
					</div>
				<% }); %>
			</div>
		</main>
		
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>